.btn
  display flex
  justify-content center
  align-items center
  flex-grow 1

  height 50px
  width 50px

  padding 20px

  cursor pointer

.num
  font-family 'Roboto',sans-serif;
  font-size 1.5em
  color #dfdfdf
